#Ignore __pycache__
compositional_learner/__pycache__/*
query_handling/__pycache__/*

#Ignore checkpoint files
compositional_learner/.ipynb_checkpoints/*

#Ignore data files
data/*

#Ignore stanford-corenlp
stanford-corenlp/*


